#contact {
  min-height: 100vh;
  padding-top: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  gap: 1.2rem;
}

input,
textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: transparent;
  border: 2px solid var(--color-bg);
  resize: none;
  color: var(--color-bg);
}

form > button {
  background: aqua;
}

/* media queries (medium devices) */

@media screen and (max-width: 1024px) {
  #contact {
    padding-top: 10rem;
  }
  form {
    width: 70%;
  }
}

/* media queries (small devices) */

@media screen and (max-width: 600px) {
  #contact {
    padding-top: 5rem;
  }
  form {
    width: 90%;
  }
}
